<div class="col-md-3 col-lg-2 d-md-block sidebar collapse p-0 offcanvas-lg offcanvas-start" id="sidebar" tabindex="-1" aria-labelledby="sidebarLabel">
    <div class="position-sticky pt-3">
        <div class="offcanvas-header d-lg-none">
            <h5 class="offcanvas-title text-white" id="sidebarLabel">Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Close"></button>
        </div>
        <div class="text-center py-4">
            <h4 class="text-white"><i class="fas fa-user me-2"></i>User Portal</h4>
        </div>
        <ul class="nav flex-column px-3">
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('user_dashboard') }}">
                    <i class="fas fa-fw fa-home me-2"></i>Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white {% if request.endpoint == 'browse_theses' %}active{% endif %}" href="{{ url_for('browse_theses') }}">
                    <i class="fas fa-fw fa-search me-2"></i>Browse Theses
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-white" href="{{ url_for('view_bookmarks') }}">
                    <i class="fas fa-bookmark"></i> Bookmarks
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-white" href="{{ url_for('view_history') }}">
                    <i class="fas fa-history"></i> History
                </a>
            </li>
        </ul>
    </div>
</div>